@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f6fc31;
}

section, footer {
  padding: 54px 0;
}

h3 {
  font-size: 50px;
}

p {
  color: #0000009c;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn {
  background-color: #4f9cf9;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s;
}

.btn.animated-btn {
  animation: animated-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #3580db;
}

@keyframes animated-outline {
  from {
    outline: 0 solid #4f9bf98a;
  }

  to {
    outline: 15px solid #4f9bf900;
  }
}

header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: white;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

nav ul a:not(.btn)::after {
  content: "";
  background-color: #4f9cf9;
  height: 3px;
  width: 0;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

.menu-icon, .close-icon {
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner .banner-text {
  margin: 150px;
  text-align: center;
  padding: 0 90px;
}

.banner .banner-text h1 {
  font-size: 96px;
  color: white;
}

.banner .banner-text p {
  font-size: 20px;
  color: #ffffffb7;
  font-weight: bold;
  margin: 18px 0;
}

.faca-mais .container, .website-facil .container, .seguranca .container, .sobre .container {
  display: flex;
  align-items: center;
}

.faca-mais .faca-mais-text, .website-facil .website-facil-text, .seguranca .seguranca-text, .sobre .sobre-text {
  width: 50%;
  padding: 0 40px;
}

.faca-mais .faca-mais-text h3, .website-facil .website-facil-text h3, .seguranca .seguranca-text h3, .sobre .sobre-text h3 {
  font-size: 56px;
}

.faca-mais .faca-mais-text p, .website-facil .website-facil-text p, .seguranca .seguranca-text p, .sobre .sobre-text p {
  margin: 5px 0 10px 0;
  text-align: start;
}

.faca-mais .faca-mais-img, .website-facil .website-facil-img, .seguranca .seguranca-img, .sobre .sobre-img {
  width: 50%;
}

.faca-mais .faca-mais-img img, .website-facil .website-facil-img img, .seguranca .seguranca-img img, .sobre .sobre-img img {
  width: 100%;
}

.depoimentos .container h3 {
  text-align: center;
}

.depoimentos .container p {
  margin-bottom: 20px;
  text-align: center;
}

.depoimentos .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimentos .cards .card-item {
  background-color: #d3e6fd;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  height: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.depoimentos .cards .card-item img {
  border-radius: 100%;
  width: 80px;
  display: block;
  margin: 20px auto;
}

.depoimentos .cards .card-item .nome-usuario {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.depoimentos .cards .card-item .depoimento-usuario {
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
}

.depoimentos .cards .card-item .estrelas {
  margin: 15px 0;
  border-top: 2px solid #71767a23;
  padding: 10px 0 0 0;
}

.depoimentos .cards .card-item .estrelas i {
  color: #4f9cf9;
  font-size: 15px;
  margin-top: 20px;
  transition: 0.3s;
}

.depoimentos .cards .card-item:hover {
  background-color: #4f9cf9;
  margin-top: -5px;
}

.depoimentos .cards .card-item:hover .nome-usuario,
.depoimentos .cards .card-item:hover .depoimento-usuario,
.depoimentos .cards .card-item:hover .estrelas i {
  color: white;
}

.nossos-clientes .container h3, p {
  text-align: center;
}

.nossos-clientes .container div {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  background-color: #4f9cf9;
  text-align: center;
}

footer i {
  color: #4f9cf9;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}

footer p {
  margin-top: 10px;
  color: white;
}

.servicos h3 {
  text-align: center;
}

.servicos. .container > p {
  text-align: center;
}

.servicos .row-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-flow: row wrap;
  gap: 10px;
}

.servicos .row-cards-item {
  background-color: #d3e6fd;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.servicos .row-cards-item:hover {
  background-color: #4f9cf9;
}

.servicos .row-cards-item:hover p {
  color: white;
}

.servicos .row-cards-item img {
  background-color: #4f9cf9;
  border-radius: 20px;
  width: 70px;
  padding: 10px;
}

.servicos .row-cards-item p.nome-servico {
  margin: 5px 0;
  transition: 0.3s;
}

.servicos .row-cards-item p.descricao-servico {
  transition: 0.3s;
}

.dados {
  background-color: #d3e6fd;
}

.dados .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dados .dados-item {
  text-align: center;
  margin: 15px;
  color: #000000be;
}

.dados .dados-item img {
  background-color: #4f9cf9;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80px;
}

.dados .dados-item p {
  font-size: 18px;
}

.dados .dados-item p strong {
  font-size: 28px;
}

.contato .contato-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contato .contato-info .left-side {
  width: 50%;
  padding: 30px;
  background-color: #4f9cf9;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;
}

.contato .contato-info .left-side div {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.contato .contato-info .left-side div i {
  font-size: 24px;
  margin-right: 20px;
  color: white;
}

.contato .contato-info .left-side p {
  font-size: 17px;
  color: white;
  text-align: left;
}

.contato .contato-info .right-side {
  width: 50%;
}

.contato .contato-info .right-side input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid #afafaf;
  color: #212121;
  font-weight: lighter;
}

.contato .contato-info .right-side input:focus, .contato .contato-info .right-side textarea:focus {
  border-color: #4f9cf9;
}

.contato .contato-info .right-side .btn {
  border: none;
}

.contato .contato-info .right-side textarea {
  border: 1px solid #afafaf;
  color: #212121;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
  font-weight: lighter;
  resize: none;
}

@media screen and (max-width: 768px) {
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #184b88;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    clip-path: circle(0.0% at 100% 0);
  }

  .main-menu.open {
    clip-path: circle(141.4% at 100% 0);
  }

  .main-menu a {
    margin: 10px 0;
    font-size: 16px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 25px;
    color: white;
  }

  .close-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 46px;
    right: 28px;
  }


  .banner .banner-text {
    padding: 0;
    margin: 80px;
  }

  .banner .banner-text h1 {
    font-size: 3.5rem;
  }

  .banner .banner-text p {
    font-size: 15px;
  }

  .faca-mais .container,  .seguranca .container, .sobre .container {
    flex-direction: column-reverse;
  }

  .website-facil .container {
    flex-direction: column;
  }

  .faca-mais .container h3, .website-facil .container h3, .seguranca .container h3, .sobre .container h3{
    font-size: 48px;
  }

  .faca-mais .faca-mais-text, .website-facil .website-facil-text, .seguranca .seguranca-text, .sobre .sobre-text,
  .faca-mais .faca-mais-img, .website-facil .website-facil-img, .seguranca .seguranca-img, .sobre .sobre-img {
    width: 100%;
    padding: 10px 5px 10px 5px;
  }

  .depoimentos .cards .card-item {
    width: 100%;
  }

  .sobre .container {
    flex-direction: column-reverse;
  }

  .contato .contato-info {
   flex-direction: column;
    margin-top: 20px;
  }

  .contato .contato-info .left-side,
  .contato .contato-info .right-side{
    width: 100%;
    margin: 10px 0 10px 0;
  }

}
